body, html {
  height: 100%;
  margin: 0;
}

body {
  /* The image used */
  background-image: url(/assets/images/heroimageforpuzzle.jpg);


  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Font Styling */

h1{
        font-family: 'Permanent Marker', cursive;
       }

p{
    font-family: 'Open Sans', sans-serif;
}