/* Home Page Styling */

.homebg {

  /* Select backgorund image */
    background-image: url(/assets/images/heroimageforpuzzle.jpg); 
    background-color: blueviolet;
    min-height: 100%;
    min-width: 1024px;
    width: auto;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

/* Navbar Styling */

.navbar-brand{
    font-family:'Permanent Marker', cursive ;
}


/* Font Styling */

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: seagreen;
    text-align: center;
    
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    color: purple;
    text-align: center;
}



