/* Home Page Styling */

body,
html {
	height: 100%;
	margin: 0;
}

body {
	background-image: url(/assets/images/heroimageforpuzzle.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/* Font Styling */

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: seagreen;
    
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    color: purple;
}

/* Button Styling  */

.start-btn {
    border: 2px solid purple;
    color: seashell;
    background-color: seagreen;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 23px;
	margin: 4px 2px;
	cursor: pointer;
}


/* Game Styling  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #060AB2;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}


.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
}